/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Times New Roman', Times, serif;
}

@layer components {
  /* .card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    height: auto;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 8px;
    border: 0.7px solid #eee;
  } */
.p-datatable-header:nth-child(1){
  justify-content: space-between !;
}
  .form {
    width: 100%;
  }

  .form-control {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    /* Adjust spacing between form controls */
  }

  .form-control label {
    flex: 1;
    /* Take up 1/3 of the available space */
    margin-right: 1rem;
    /* Adjust spacing between label and input */
    font-weight: bold;
  }

  .form-control input,
  .form-control select {
    flex: 2;
    /* Take up 2/3 of the available space */
    padding: 0.5rem;
    /* Adjust padding for input elements */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

  .submit-btn {
    width: 100%;
    padding: 0.75rem;
    /* Adjust padding for button */
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .submit-btn:hover {
    background-color: #45a049;
  }

  /* Adjust main content area */
  .flex-1 {
    flex: 1;
    /* Ensure the main content area fills available space */
    overflow-y: auto;
    /* Add vertical scrolling if content exceeds height */
  }

  /* Add padding to main content area */
  .p-8 {
    padding-left: 20px;
    /* Adjust as needed */
    padding-right: 20px;
    /* Adjust as needed */
  }

  /* Optional: Adjust padding on smaller screens */
  @media (max-width: 768px) {
    .p-8 {
      padding-left: 10px;
      /* Adjust as needed */
      padding-right: 10px;
      /* Adjust as needed */
    }
  }

  .table-with-margin {
    margin-top: 2rem;
    /* margin-left: 120px; */

  }

}
.p-datatable .p-datatable-header {
  background: #f9fafb;
  color: #374151;
  /* border: 1px solid #e5e7eb; */
  /* border-width: 1px 0 1px 0; */
  padding: 1rem 1rem;
  font-weight: 700;
}

.p-datatable .p-datatable-header .flex {
  display: flex;
  justify-content: space-between;
}